<a href="https://colab.research.google.com/github/houda21el/Diagnosticc/blob/main/Peer-graded%20Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Peer-graded Assignment

## Introduction
Welcome to this notebook! In this notebook, we will explore various exercises related to data science concepts and basic arithmetic operations.

## Data Science Languages


*   Python
*   R
*   SQL

## Data Science Libraries


*   Panda
*   NumPy
*   Scikit-learn

## Data Science Tools
|  Tool      | Description           |
|------------|-----------------------|
| Jupyter    | Interactive computing |
| TensorFlow | Machine learning      |
| Tableau    | Data visualization    |

## arithmetic expression examples
 Let's explore some basic arithmetic operations in this section.

Exercice 8: add numbers

In [1]:
# Multiply and add numbers
result = (5 * 3) + 10
print(result)

25

Exercice 9: convert minutes to hours

In [2]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print(hours)

2.0

## Objectives


*   Practice basic markdown formatting
*   Perform arithmetic operations in Python
* Explore data science tools and libraries

## Author
Houda El Mohamadi